header {
    height: 80vh;
    text-align: center;
    background-color: #003393;
}

.site-heading {
    margin-top: 30vh;
    color: white;
}

.post-heading {
    color: white;
    margin-top: 40vh;
}

.logo {
    width: 30%;
}