{% extends '../base.html' %}

{% block body %}
{% if blog %}

<header style="background-color: #003393;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>{{blog.title}}</h1>
                    <span class="meta">Posted by
                        <a href="https://www.ipaygh.com/"><strong>iPayGH</strong></a>
                        on {{ blog.pub_date }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<article>
    <div class="container">
        <div class="row" style="margin-bottom: 50px;">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p>{% autoescape off %}{{ blog.content }}{% endautoescape %}</p>
            </div>
        </div>
        <!-- Pager previous-->
        <div class="d-flex flex-row justify-content-between" style="margin-bottom: 100px;">
            {% if blog.get_previous_by_pub_date %}
            <div class="clearfix">
                <a class="btn btn-primary" href="{% url 'blog:detail'  blog.get_previous_by_pub_date.id %}"
                    style='background-color: #003393 !important;'>&larr;{{ blog.get_previous_by_pub_date }}</a>
            </div>
            {% endif %}

            <!-- Pager next-->
            {% if blog.get_next_by_pub_date %}
            <div class="clearfix">
                <a class="btn btn-primary" href="{% url 'blog:detail'  blog.get_next_by_pub_date.id %}"
                    style='background-color: #003393 !important;'>{{ blog.get_next_by_pub_date }} &rarr;</a>
            </div>
        </div>
        {% endif %}
    </div>
</article>

{% endif %}
{% endblock %}