{% extends '../base.html' %}
{% load static %}

{% block body %}
<!-- Page Header -->
<header class="masthead" style="background-color: #022e6f">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>iPayGH</h1>
                    <span class="subheading">Welcome to our Blog</span>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% if blogs %}
            {% for blog in blogs %}
            <div class="post-preview">
                <a href="{% url 'blog:detail' blog.id %}">
                    <h2 class="post-title">
                        {{ blog.title }}
                    </h2>
                </a>
                <p class="post-meta">Posted by
                    <a href="{% url 'blog:detail' blog.id %}">
                        <strong>iPayGH</strong>
                    </a>
                    on {{ blog.pub_date }}</p>
            </div>
            <hr>

            {% endfor %}
            {% else %}
            <p>No blogs to show</p>
            {% endif %}
        </div>
    </div>
</div>
<span class="d-flex justify-content-center" style="font-size: small;">visit www.ipaygh.com</span>

<hr>



{% endblock %}