{% extends '../base.html' %}

{% block body %}
<header class="masthead" style="background-color: #022e6f">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Update Blog</h1>
                    <span class="subheading">Delete or Edit Blog</span>
                </div>
            </div>
        </div>
    </div>
</header>


<article>
    <div class="container">
        <div class="row" style="margin-bottom: 50px;">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p>
                    {% autoescape off %}
                    {{ blog.content }}
                    {% endautoescape %}
                </p>
            </div>
        </div>
        <div class="d-flex justify-content-center btn-group" role="group" aria-label="button-group">
            <div class="col-md-12 col-sm-12 col-lg-4">
                <button class="btn btn-primary" style="background-color: #022e6f !important;"><a
                        style="color: white; text-decoration: none;"
                        href="{% url 'blog:update' blog.id %}">Update</a></button>
                <button class="btn btn-danger" style="margin-left: 20px"><a style="color: white; text-decoration: none;"
                        href="{% url 'blog:delete' blog.id %}">Delete</a></button>

            </div>
        </div>
    </div>
</article>
{% endblock %}